<h1 class="my-4">
  Проекты
  <small></small>
</h1>

<% @projects.each do |project| %>
  <div class="row">
    <div class="col-md-7">
      <a href="#">
        <img
          class="img-fluid rounded mb-3 mb-md-0"
          src="<%= project.picture %>"
          alt=""
          />
      </a>
    </div>
    <div class="col-md-5">
      <h3><%= project.name %></h3>
      <p><%= project.body %></p>
      <a class="btn btn-primary" href="/projects/<%= project.id %>">Подробнее</a>
    </div>
  </div>

  <hr />
<% end %>
